.confetti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
    .confetti div {
    display: flex;
    flex-direction: column;
    }
  }